@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.header {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  margin: 2rem 0;
  font-weight: 700;
  letter-spacing: -2px;
}

.subhead {
  max-width: 300px;
}

.bodyText {
  display: block;
  float: left;
  line-height: 1.5;
}

.bodyText:before {
  content: '';
  display: block;
  width: 100px;
  height: 4px;
  background-color: #000;
  margin-bottom: 20px;
  margin-right: 20px;
  float: left;
  position: relative;
  top: 6px;
}

.content {
  padding: 50px;
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  width: 100vw;
}

.sidebar {
  position: fixed;
  width: 80px;
  height: 100vh;
  background-color: #000000;
}

nav ul {
  list-style: none;
  padding: 20px 0;
  text-align: center;
}

nav ul li a {
  color: #666666;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
}

a.button {
  color: #d93732;
  font-size: 1.5em;
  border-bottom: 4px solid #d93732;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
  float: right;
  margin-top: 50px;
  text-transform: uppercase;
}

.active {
  color: #ffffff;
}

.contentContainer {
  max-width: 650px;
  width: 100%;
  background-color: #f8f8f8;
  min-height: 100vh;
  padding-left: 80px;
  float: left;
  background-image: url(https://jeffbredenkamp.neocities.org/bgGrey-min.png);
}

.imageContainer {
  height: 100vh;
}

.image {
  width: 100%;
  height: 100%;
}

.image.headerImg {
  background: url(the-english-parliament-in-the-17th-century-the-lawsuit-of-thomas-wentworth-D1K1F4.jpg)
    top right no-repeat fixed;
  background-size: cover;
}

.image.travelImg {
  background: url(The_House_of_Commons_1793-94_by_Karl_Anton_Hickel.jpg)
    top right no-repeat fixed;
  background-size: cover;
}

.image.zoomImg {
  background: url(Le_lit_de_justice_du_12_septembre_1715.jpg)
    top right no-repeat fixed;
  background-size: cover;
}

.image.historyImg {
  background: url(15688.jpg)
    top right no-repeat fixed;
  background-size: cover;
}

.image.pastImg {
  background: url(1000_F_531241512_hGpqKLzuJjeFwvHGLlUJluyD7cFsngrP.jpg)
    top right no-repeat fixed;
  background-size: cover;
}

@media (max-width: 500px) {
  .header {
    font-size: 2.2rem;
  }

  .bodyText:before {
    display: none;
  }

  .imageContainer {
    display: none;
  }

  #logo {
    height: 50px;
  }

  .contentContainer {
    padding-left: 70px;
    float: none;
  }

  .content {
    padding: 20px;
  }
}
